/* Admin css */
#wpcontent {
    padding: 0;
}
.wrap {
    padding: 0 20px;
}
.btn{
	cursor: pointer;
}
h2.content-header {
	font-weight: 700 !important;
	margin-top: 2% !important;
	font-size: 24px !important;
}
h1.font_20{
	font-size: 20px ;
}
.font_bold {
	font-weight: bold !important;
}
.ml-2{
	margin-left: 2%;
}
.admin-button,
.field {
	padding: 6px !important;
}
.input_width {
	width: 350px;
}
.repeat-wrapper {
	padding: 20px 5px;
	border: 1px solid #d5d5d5;
}
.single-block {
	display: grid;
	column-gap: 35px;
	align-items: center;
	padding: 7px 0;
}
.shortcode-block .single-block{
	grid-template-columns: 175px auto;
}
#settings .single-block{
	grid-template-columns: 205px auto;
}
.repeat-section {
	display: flex;
	flex-direction: row;
	column-gap: 11px;
}
.repeat-block {
	flex-direction: column;
}
.action_rows {
	display: flex;
	padding-top: 22px;
	cursor: pointer;
}
.form-label {
	font-size: 14px;
	font-weight: bold;
	width: 250px;
	padding: 10px 0px;
}
.input-section {
	width: 300px;
}

.full_input {
	width: 100%;
}
.pt_3 {
	padding-top: 3%;
}
.mt_3 {
	margin-top: 3% !important;
}
/**
 * Checkbox Toggle UI
 */
input[type="checkbox"].switcher-ui-toggle {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
	width: auto;
	height: auto;
	vertical-align: middle;
	position: relative;
	border: 0;
	outline: 0;
	cursor: pointer;
	margin: 0 4px;
	background: none;
	box-shadow: none;
}
input[type="checkbox"].switcher-ui-toggle:focus {
	box-shadow: none;
}
input[type="checkbox"].switcher-ui-toggle:after {
	content: "";
	font-size: 8px;
	font-weight: 400;
	line-height: 18px;
	text-indent: -14px;
	color: #ffffff;
	width: 36px;
	height: 18px;
	display: inline-block;
	background-color: #a7aaad;
	border-radius: 72px;
	box-shadow: 0 0 12px rgb(0 0 0 / 15%) inset;
}
input[type="checkbox"].switcher-ui-toggle:before {
	content: "";
	width: 14px;
	height: 14px;
	display: block;
	position: absolute;
	top: 2px;
	left: 2px;
	margin: 0;
	border-radius: 50%;
	background-color: #ffffff;
}
input[type="checkbox"].switcher-ui-toggle:checked:before {
	left: 20px;
	margin: 0;
	background-color: #ffffff;
}
input[type="checkbox"].switcher-ui-toggle,
input[type="checkbox"].switcher-ui-toggle:before,
input[type="checkbox"].switcher-ui-toggle:after,
input[type="checkbox"].switcher-ui-toggle:checked:before,
input[type="checkbox"].switcher-ui-toggle:checked:after {
	transition: ease 0.15s;
}
input[type="checkbox"].switcher-ui-toggle:checked:after {
	content: "ON";
	background-color: #2271b1;
}
option.disable,.disable {
	position: relative;
	opacity: 0.5;
	pointer-events: none;
	display: flex;
}

/* Setting Tab Style */
.tab-content {
	background: #ffffff;
	padding: 2%;
	border-radius: 5px;
}

.settings_tab ul {
	display: flex;
	background: #fff;
	padding: 10px 15px;
	border-radius: 5px;
	margin-bottom: 1%;
}

.settings_tab_pan li {
	padding:10px 0;
	background: #fff;
	cursor: pointer;
	font-weight: 500;
	font-size: 14px;
	margin: 0 30px 0 0;
	transition: all 0.5s ease-in-out;
	position: relative;
}

.settings_tab li::after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 0%;
	height: 3px;
	background: #3263f8;
	transition: all 0.3s ease-in-out;
}

.settings_tab li.active {
	font-size: 15px;
	font-weight: 600;
	position: relative;
	color: #3263f8;
}
.settings_tab li.active::after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #3263f8;
}
.tab-content > div:not(.active) {
	display: none;
}
.d-none {
	display: none !important;
}


button.button-primary {
	padding: 5px 20px !important;
	font-size: 15px !important;
	line-height: 25px !important;
	background: linear-gradient(180deg, #3263f8 0%, #254ec8 100%) !important;
	border: 1px solid transparent !important;
	border-radius: 5px !important;
	font-weight: 500;
}

button.button-primary:hover {
	background: linear-gradient(180deg, #254ec8 0%, #3263f8 100%) !important;
}

button.button-primary:focus {
	outline: none !important;
	box-shadow: none !important;
	line-height: 25px !important;
}

/* Tab CSS */
.input-section input, 
.single-block .full_input{
    padding: 3px 10px;
    font-size: 14px !important;
    font-weight: 600;
    border-radius: 5px !important;
}
.full_input{
	height: 40px;
}
.select2-container{
    width: 240px !important;
}

.input-section select, .wp-core-ui select {
    padding: 3px 30px 3px 20px !important;
    border: 1px solid #c7c7c7 !important;
    font-size: 14px !important;
    font-weight: 600;
    border-radius: 5px !important;
    width: 240px;
}

.input-section .select2-selection {
    padding: 2px 8px 2px 8px !important;
    border: 1px solid #c7c7c7 !important;
    font-size: 16px !important;
    font-weight: 600;
    border-radius: 5px !important;
}

.input-section input:focus,
.single-block input:focus {
    outline: none;
    box-shadow: 0 0 0 1px #3263f8;
    border: 1px solid #3263f8;
    
}

.shortcode-block .input-section select:focus, .wp-core-ui select:focus {
    outline: none;
    box-shadow: 0 0 0 1px #3263f8 !important;
    border: 1px solid #3263f8 !important;
}

.input-section .select2-selection:focus, .wp-core-ui select:focus {
    outline: none;
    box-shadow: 0 0 0 1px #3263f8 !important;
    border: 1px solid #3263f8 !important;
}

.input-section select:hover , .wp-core-ui select:hover{
   color: #3c434a !important;
}

.custom-switcher {
	position: relative;
	display: inline-block;
    width: 45px !important;
    height: 25px !important;
	transition: all 0.5s ease-in-out;
  }
  
.custom-switcher input { 
	opacity: 0 !important;
	width: 0 !important;
	height: 0 !important;
  }
  
.custom-switcher .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
  }
  
.custom-switcher .slider:before {
	position: absolute;
	content: "";
    height: 18px !important;
    width: 18px !important;
	left: 5px !important;
	bottom: 4px !important;
	background-color: #fff;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
  }
  
.custom-switcher input:checked + .slider {
	background: linear-gradient(180deg, #254ec8 0%, #3263f8 100%) !important;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
  
.custom-switcher  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3 !important;
}
  
.custom-switcher  input:checked + .slider:before {
	-webkit-transform: translateX(20px) !important;
	-ms-transform: translateX(20px) !important;
	transform: translateX(20px) !important;
}

.custom-switcher .slider.round {
	border-radius: 34px;
}
  
.custom-switcher .slider.round:before {
	border-radius: 50%;
}

/* #select2-filter_by_products-container li  */
.select2-container--default .select2-search--inline .select2-search__field{
	width: 0 !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #EEF0F4 !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
    color: #0D165E !important;
	padding: 8px 5px 8px 30px !important;
    font-size: 14px;
    font-weight: 600;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    background: linear-gradient(180deg, #254ec8 0%, #3263f8 100%) !important;
	border-radius: 5px !important;
	color: #fff !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    padding: 0 4px !important;
	line-height: 15px !important;
    position: absolute;
    left: 8px !important;; 
    top: 8px !important;
    border: 1px solid transparent!important;
    margin-right: 10px!important;
    padding: 0 3px!important;
}

/* Table CSS */
.alternate, .striped>tbody>:nth-child(odd), ul.striped>:nth-child(odd) {
    background-color: #3263f814 !important;
}

td.enable_rules.column-enable_rules span {
    padding: 4px 20px 6px;
    background: rgba(50, 99, 248, 0.3);
    border-radius: 20px;
    font-size: 13px;
    text-transform: capitalize;
    color: #0D165E;
}

td.rules_type.column-rules_type.has-row-actions.column-primary {
    text-transform: capitalize;
}

.widefat td {
    line-height: 36px;
	color: #0D165E !important;
}

button.button.button-primary.update-rules {
    font-weight: 600 !important;
    font-size: 13px !important;
}

button.button.button-danger.delete-rules {
    padding: 4px 15px;
    margin-left: 10px;
    background: linear-gradient(180deg, #eb1d3a 0%, #ff1414 100%) !important;
    color: #fff;
    border: none !important;
    font-weight: 600 !important;
	transition: all 0.5s ease-in-out;
	border-radius: 5px;
}

button.button.button-danger.delete-rules:hover {
	background: linear-gradient(180deg, #ff1414 0%, #eb1d3a 100%) !important;
}
/* Pro Tag */
a.pr-tag{
	position: absolute;
    left: 27%;
	text-decoration: none;
}
.pro-fr {
    padding: 4px 13px 4px;
    border: 1px solid rgba(50, 99, 248, 0.3);
    border-radius: 22px;
    font-size: 12px;
    color: #0D165E;
    height: 17px;
    width: 17px;
}

/* Overview page */
.bg-color{
	background-color: #3263f8;
	color: #fff;
}
.menu{
	padding: 1% 2%;
	background: #ffffff;
	border-radius: 5px;
}
.menu .logo {
    background: no-repeat;
    display: flex;
    width: fit-content;
}
.logo img{
	margin-right: 6px;
}
.menu h1{
	font-weight: 800;
}
.over-view-wrapper{
	background: #ffffff;
	padding: 2%;
	margin: 2%;
	border-radius: 5px;
}
.block{
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    border-radius: 4px;
    padding-left: 50px;
	color: #fff;
}
.first-block{
	justify-content: space-between;
	background-color: #3263f8;
	min-height: 250px;
}
.cta-block{
	gap: 20%;
	background-color: #ff5d8f;;
}
.ctn-button{
	cursor: pointer;
    padding: 3% 4%;
    font-size: 15px;
    font-weight: 800;
    border: 1px solid #291c63;
}
.feature-cta{
    background: #fff;
    color: #291c63;
    width: 190px;
    padding: 12% 0;
}
.first-block .ctn-button {
	background: #ff5d8f;
	color: #fff;
}
.first-block p{
	margin-bottom: 5%;
}
.left-block h1{
    font-size: 33px;
    font-weight: 800;
    color: #fff;
    line-height: 1.2;
}
.left-block p{
	font-size: 15px;
}
.block-header{
	color: #291c63;
    font-size: 34px; 
    font-weight: 700;
    margin: 0 0 1rem;
}
.row{
	display: flex;
    flex-flow: row wrap;
    min-width: 0;
}
.block-wrapper{
	display: grid;
	grid-template-columns: auto auto auto auto;
}
.card-wrapper{
	display: flex;
    flex-wrap:wrap;
}
.card-block{
	width: 44%;
	margin-right: 5%;
    border: 1px solid #f4ecec;
    border-radius: 15px;
}
.card-block:last-child{
	margin-right: 0;
}
.single-item,.card-block {
	padding: 15px;
	text-align: center;
}
.single-item h3,.card-block h3{
    font-weight: 800;
}
.single-item span,.card-block span{
    position: relative;
    font-size: 25px;
    padding: 16px;
    border-radius: 30px;
    background: #fcdee7;
}
.fr-icon::before{
	position: relative;
    bottom: 2px;
    right: 2px;
    color: #7f2ace;
}
.text-center {
    text-align: center;
}
.p-5{
    padding: 5%;
}
.p-2{
    padding: 2%;
}
.p-7{
    padding: 7%;
}
.pt-5{
	padding-top: 5%;
}
.pb-2{
	padding-bottom: 2%;
}
.mt-5{
	margin-top: 5%;
}
.mb-1{
	margin-bottom: 1%;
}
.mb-5{
	margin-bottom: 5%;
}
.description p{
	margin: 0;
	float: left;
}
.description a{
	text-decoration: none;
}
.mt-1{
	margin-top: 1% !important;
}
.mb-1{
	margin-bottom: 1% !important;
}
a.pro-link:focus{
	box-shadow:none
}